[submodule "components/hagl"]
	path = components/hagl
	url = https://github.com/tuupola/hagl.git
[submodule "components/hagl_esp_mipi"]
	path = components/hagl_hal
	url = https://github.com/tuupola/hagl_esp_mipi.git
[submodule "components/axp202"]
	path = components/axp202
	url = https://github.com/tuupola/axp202.git
[submodule "components/esp_i2c_helper"]
	path = components/esp_i2c_helper
	url = https://github.com/tuupola/esp_i2c_helper.git
[submodule "components/axp192"]
	path = components/axp192
	url = https://github.com/tuupola/axp192.git
